
.datepicker {
	border: 3px solid grey;
	background-color: 	#FDEAA8;
	width: 80%;
	margin: 100px;
	margin-top: 30px;
	box-shadow:  10px 10px 10px rgba(0,0,0,0.5);

}

.datepicker > input,
.datepicker > button {
	width: 400px;
	font-size: 25px;
	margin: 30px;
	box-shadow:  10px 10px 10px rgba(0,0,0,0.5);
}

.datepicker__hidden  button {
	width: 200px;
	margin: 30px;
	font-size: 25px;
	box-shadow:  5px 5px 10px rgba(0,0,0,0.5);
}

.datepicker-button{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.datepicker-days-week{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 30px;
	align-items: stretch;
	flex-wrap: wrap;
}

.datepicker-days-week p{
	font-size: 25px;
	color: #808080;
	font-weight: bold;
	width: 110px;
}

.datepicker__hidden{
	display: none;
}

.datepicker__active{
	display: block;
}